<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.neokree.example"
 >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <permission
        android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.baratheraja.ceg.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.baratheraja.ceg.permission.C2D_MESSAGE" />
    <!-- This app has permission to register and receive dataf message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ceglogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name="it.neokree.example.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="it.neokree.example.mockedActivity.Settings" />
        <activity android:name="it.neokree.example.mockedActivity.Profile" />
        <activity
            android:name="it.neokree.example.dark.Accounts"
            android:theme="@style/AccountsDark" />
        <activity
            android:name="it.neokree.example.dark.MockedAccount"
            android:theme="@style/MockedAccountDark" />
        <activity
            android:name="it.neokree.example.dark.ImageDrawerHeader"
            android:theme="@style/ImageHeaderDark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.baratheraja.ceg.MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.neokree.example.dark.NoDrawerHeader"
            android:theme="@style/NoHeaderDark" />
        <activity
            android:name="it.neokree.example.dark.CustomDrawerHeader"
            android:theme="@style/CustomHeaderDark" />
        <activity
            android:name="it.neokree.example.light.Accounts"
            android:theme="@style/AccountsLight" />
        <activity
            android:name="it.neokree.example.light.MockedAccount"
            android:theme="@style/MockedAccountLight" />
        <activity
            android:name="it.neokree.example.light.ImageDrawerHeader"
            android:theme="@style/ImageHeaderLight" />
        <activity
            android:name="it.neokree.example.light.NoDrawerHeader"
            android:theme="@style/NoHeaderLight" />
        <activity
            android:name="it.neokree.example.light.CustomDrawerHeader"
            android:theme="@style/CustomHeaderLight" />
        <activity
            android:name="it.neokree.example.functionalities.CustomAccountSection"
            android:theme="@style/CustomAccountSection" />
        <activity
            android:name="it.neokree.example.functionalities.KitkatStatusBar"
            android:theme="@style/KitkatStatusBar" />
        <activity
            android:name="it.neokree.example.functionalities.MultiPane"
            android:theme="@style/MultiPane" />
        <activity
            android:name="it.neokree.example.functionalities.RippleBackport"
            android:theme="@style/RippleBackport" />
        <activity
            android:name="it.neokree.example.functionalities.UniqueToolbarColor"
            android:theme="@style/UniqueToolbarColor" />
        <activity
            android:name="it.neokree.example.functionalities.master_child.MasterChildActivity"
            android:theme="@style/MasterChild" />
        <activity
            android:name="it.neokree.example.functionalities.RealColorSections"
            android:theme="@style/RealColorSections" />
        <activity
            android:name="it.neokree.example.functionalities.DefaultSectionLoaded"
            android:theme="@style/DefaultSectionLoaded" />
        <activity
            android:name="it.neokree.example.functionalities.ActionBarShadow"
            android:theme="@style/ActionBarShadow" />
        <activity
            android:name="it.neokree.example.functionalities.LearningPatternDisabled"
            android:theme="@style/LearningPatternDisabled" />
        <activity
            android:name="it.neokree.example.backpattern.BackToFirst"
            android:theme="@style/BackPattern" />
        <activity
            android:name="it.neokree.example.backpattern.BackAnywhere"
            android:theme="@style/BackPattern" />
        <activity
            android:name="it.neokree.example.test.Test"
            android:theme="@style/TestTheme" />

        <activity
            android:name="it.neokree.example.MainActivity2Activity"
            android:label="@string/title_activity_main_activity2"
            android:theme="@style/AppTheme"
            android:parentActivityName="it.neokree.example.dark.ImageDrawerHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.neokree.example.dark.ImageDrawerHeader" />

        </activity>
        <activity
            android:name="it.neokree.example.News"
            android:label="@string/title_activity_main_activity2"
            android:theme="@style/AppTheme"
            android:parentActivityName="it.neokree.example.dark.ImageDrawerHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.neokree.example.dark.ImageDrawerHeader" />

        </activity>
        <activity
            android:name="it.neokree.example.Events"
            android:label="EVENTS"
            android:theme="@style/AppTheme"
            android:parentActivityName="it.neokree.example.dark.ImageDrawerHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.neokree.example.dark.ImageDrawerHeader" />

        </activity>
        <activity
        android:name="it.neokree.example.About"
        android:label="@string/title_activity_main_activity2"
        android:theme="@style/AppTheme"
        android:parentActivityName="it.neokree.example.dark.ImageDrawerHeader">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.neokree.example.dark.ImageDrawerHeader" />

    </activity>
        <activity
            android:name="it.neokree.example.MapActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCK1oXV4ecmdCbi9YhZSkySJzvMOp33oSo" />

        <receiver
            android:name="com.pushbots.google.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.baratheraja.ceg" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pushbots.push.DefaultPushHandler" />

        <service android:name="com.pushbots.push.GCMIntentService" />


    </application>

</manifest>